.newproduct{
    width:941px;
    margin: 117px auto 0px ;
    
}
.newproduct-list h3{
    color: #676767;
    height: 43px;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
}
.newproduct-list{
    width:941px;
}
.newproduct-list-content{
    display:flex;
    flex-direction: row;
    width:941px;
    height: 568px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px 22px 22px 22px;
}

.newproduct-list-content img{
    width: 536px;
    height: 100%;
}

.newproduct-list-content-detail{
    margin:10px;
    position: relative;
}
.newproduct-list-content-detail input{
    width: 170px;
    border-radius: 5px;
    color: #676767;
    margin-bottom:20px;
}
.newproduct-list-content-detail p{
    font-size: 14px;
    line-height: 16px;
    color: #676767;
    margin-bottom:5px;
}
.newproduct-list-content-detail textarea{
    width:370px;
    height:55px;
    padding:5px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom:20px;
}
.newproduct-list-content-detail select{
    padding:5px;
    width:370px;
    height:30px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    color:gray;
}
.newproduct-list-content-detail button{
    width: 54px;
    height: 34px;
    position: absolute;
    bottom:5px;
    right:15px;
    background: #DEDEDE;
    border:none;
    border-radius: 5px;
    padding:5px;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
    cursor:pointer;
}



@media only screen and (max-width:1024px){
    .newproduct{
        margin: 40px auto 0px ;

    }
    .newproduct{
        width:100%;
    }
    
    .newproduct-list{
        width:100%
    }
    .newproduct-list h3{
        width: 536px;
        margin: 0 auto;
        font-size: 32px;
        margin-bottom: 12px;
    }
    .newproduct-list-content{
        display: flex;
        flex-direction: column;
        width:536px;
        margin:auto;
        height:100%;
    }
    
    .newproduct-list-content img{
        max-width: 100%;
        max-height: 100%;
    }
    .newproduct-list-content-detail textarea{
        width:100%;
    }
    .newproduct-list-content-detail select{
        width:100%;
    }
    .newproduct-list-content-detail button{
        position: initial;
        display: block;
        margin: 20px 0px 10px;
    }
}


@media only screen and (max-width:768px){
    .newproduct-list h3{
        width: 500px;
        font-size: 28px;
        margin-bottom: 8px;
    }
    .newproduct-list-content{
        display: flex;
        flex-direction: column;
        width:500px;
        margin:auto;
        height:100%;
    }
}
@media only screen and (max-width:414px){
    .newproduct-list h3{
        width: 350px;
        font-size: 28px;
        margin-bottom: 8px;
    }
    .newproduct-list-content{
        display: flex;
        flex-direction: column;
        width:350px;
        margin:auto;
        height:100%;
    }
}

@media only screen and (max-width:280px){
    .newproduct-list h3{
        width: 250px;
        font-size: 28px;
        margin-bottom: 8px;
    }
    .newproduct-list-content{
        display: flex;
        flex-direction: column;
        width:250px;
        margin:auto;
        height:100%;
    }
}

